Value Required INTERFACE (\S+)
Value LINK_STATUS (.+?)
Value PROTOCOL_STATUS (.+?)
Value DESCRIPTION (.+?)
Value LAST_INPUT (.+?)


Start
  ^\S+\s+is\s+.+?,\s+line\s+protocol.*$$ -> Continue.Record
  ^${INTERFACE}\s+is\s+${LINK_STATUS},\s+line\s+protocol\s+is\s+${PROTOCOL_STATUS}\s*$$
  ^\s+Description:\s+${DESCRIPTION}\s*$$
  ^\s+Last\s+input\s+${LAST_INPUT},



